<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722391899509-cm3c0m2m1i9ahcb6kadpahjcfejlo69u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722391899509-cm3c0m2m1i9ahcb6kadpahjcfejlo69u</string>
	<key>API_KEY</key>
	<string>AIzaSyCYyRrOZBxL_uyui6Cs6vrXt8K3_0Ajqe0</string>
	<key>GCM_SENDER_ID</key>
	<string>722391899509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>grzegorz.VideoChat</string>
	<key>PROJECT_ID</key>
	<string>videochat-6298c</string>
	<key>STORAGE_BUCKET</key>
	<string>videochat-6298c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722391899509:ios:27a16da6da6275148a473c</string>
</dict>
</plist>